
/* Universal */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding-inline-start: 0;
}
@font-face {
    font-family: "Damion";
    src:  url('../fonts/Damion-Regular.ttf') format('truetype');
}
.tablet-header {
    display: none;
}
.mobile-header {
    display: none;
}



/* Header */

header {
    background-color: white;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 2fr 9fr 3.5fr;
    height: 5.25rem;
    border-bottom: #9b9b9b solid 0.1rem;
}
.logo-text {
    font-size: 1rem;
    font-weight: 500;
    padding: 2rem 0 1rem 2rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    color: #4a4a4a;
}
.header.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8%;
    margin-right: 1rem;
    align-items: center;
}
.header.ul li {
    display: contents;
}
.header-a {
    color: #4a4a4a;
    font-size: 1rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none;
}
.social-div {
    display: flex;
    justify-content: center;
    width: 30%;
}
.social-a {
    margin-left: 0.75rem;
    width: 14%;
    height: auto;
    overflow: hidden;
}
.social-a img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* Main */

/* --Sign-Up Section-- */

.sign-up {
    height: 43.5rem;
    width: auto;
    background-image: url("../images/banner-landingpage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    align-content: center;
    color: white;
}
.sign-up-box {
    background-color: #9dc20b;
    border: #979797 solid 1px;
    border-radius: 1%;
    width: 36rem;
    height: 22rem;
    margin-left: 11.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 2rem 0;
}
.sign-up-box h2 {
    font-size: 3rem;
    font-family: "Rubik-Regular", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.4;
}
.sign-up-box h3 {
    font-size: 2.25rem;
    font-weight: 300;
    font-family: "Damion", cursive;
}
.email-us {
    text-align: center;
    width: 70%;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Roboto-Mono-Regular", sans-serif;
    line-height: 1.4;
}
.join-box {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #4a4a4a;
    width: 72%;
    height: 4.3rem;
    border-radius: 2.5%;
    border: #979797 solid 1px;
    margin-top: 1.25rem;
}
.join-box a {
    color: white;
    font-size: 1.25rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    font-weight: 300;
    line-height: 1.4;
}



/* --Features Section-- */

.features {
    background-color: #f3f3f3;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.feature-image-container {
    background-color: white;
    height: 42.5rem;
    width: 42%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.feature-image-container img {
    margin-top: 2rem;
    max-width: 80%;
    height: auto;
    display: block;
}
.feature-image-text {
    width: 90%;
    text-align: center;
    margin-top: 2rem;
}
.feature-image-text h2 {
    color: #4a4a4a;
    font-size: 2.2rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    letter-spacing: -0.05rem;
    line-height: 1.4;
}
.feature-image-text p {
    margin-top: 0.25rem;
    color: #4a4a4a;
    font-size: 1rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    font-weight: 100;
    line-height: 1.2;
}



/* --Filters Section-- */

.filters {
    background-color: #4A4A4A;
    height: 43rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filters-section-text h2{
    text-align: center;
    font-size: 2.2rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    letter-spacing: -0.05rem;
    line-height: 1;
}
.filters-section-text p{
    text-align: center;
    margin-top: 0.2rem;
    font-size: 1rem;
    font-family: "Roboto-Mono-Light", sans-serif;
    line-height: 1;
}
.filters-image-section {
    margin-top: 5rem;
    display: flex;
    width: 98%;
    height: 65%;
}
.filters-image-container {
    width: 25%;
    overflow: hidden;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.filters-image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}



/* Footer */

footer {
    display: grid;
    grid-auto-rows: 7.7fr 2.3fr;
    height: 16rem;
}
.top-footer {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
}
.top-footer p {
    color: #4A4A4A;
    font-size: 1.85rem;
    font-family: Palatino;
    font-style: italic;
    line-height: 1.1;
}
.bottom-footer {
    background-color: #9b9b9b;
    color: white;
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    align-items: center;
    padding: 1rem;
}
.bottom-footer p{
    font-size: 0.85rem;
}
.copyright {
    margin-left: 2rem;
}



/* Media Queries */

/* Mobile */
@media (min-width: 290px) and (max-width: 749px) {

    /* Turn off Desktop Header */
    .desktop-header {
        display: none;
    }

    html{
        background-color: black;
    }

    /* Mobile Header */

    .mobile-header {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-evenly;
    }
    .header.ul {
        margin-top: 4%;
    }
    .mobile-header img {
        width: 2.6rem;
        height: auto;
    }
    .ss-button-div {
        background-color: #9dc20b;
        border-radius: 8%;
        width: 18%;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ss-button {
        color: white;
        font-size: 1rem;
        font-family: "Roboto-Mono-Regular", sans-serif;
        font-weight: 500;
    }


    /* Mobile Sign-Up Section */

    .sign-up {
        height: 28rem;
        background-position: right;
    }
    .sign-up-box {
        background-color: inherit;
        width: 29rem;
        border: none;
        padding: 7rem 0;
        margin-left: 0;
        text-shadow: 1px 1px 2px black;
    }
    .sign-up-box h4 {
        display: none;
    }


    /* Mobile Features Section */

    .features {
        flex-direction: column;
        gap: 1px;
        height: 65rem;
    }
    .feature-image-container {
        width: 99%;
    }
    .feature-image-container img {
        margin-top: 1.5rem;
        height: 65%;
        min-width: 90%;
        margin-bottom: -1rem;
    }
    .feature-image-text h2{
        font-size: 1.75rem;
    }
    .feature-image-text p {
         font-size: 1.3rem;
     }


    /* Mobile Filters Section */

    .filters {
        height: 24.5rem;
        flex-direction: row;
    }
    .filters-section-text h2{
        font-size: 2rem;
        letter-spacing: -0.05rem;
        line-height: 1;
    }
    .filters-section-text p{
        margin-top: 1rem;
        font-size: 1.4rem;
        line-height: 1.5;
    }
    .filters-image-section {
        display: grid;
        height: 100%;
        margin-top: 0;
        grid-template-columns: 1fr;
        align-content: space-evenly;
    }
    .filters-image-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: grid;
        justify-items: center;
        align-content: center;
        padding: 1rem;
    }
    .filters-image-container img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
    .mobile-image {
        display: none;
    }


    /* Mobile Footer */

    footer {
        height: 35rem;
        grid-auto-rows: 9fr 1fr;
    }
    .top-footer {
        display: grid;
        grid-template-rows: 2fr 1fr;
        justify-items: center;
        gap: 0;
        padding: 1.75rem;
        font-size: 2.5rem;
    }
    .top-footer p {
        text-align: center;
        font-size: 2.5rem;
    }
    .top-footer-image-container {
        width: 50%;
        height: 60%;
        overflow: hidden;
        display: grid;
        justify-items: center;
        align-content: center;
    }
    .top-footer-image-container img {
        width: 70%;
        height: 100%;
    }
    .bottom-footer {
        grid-template-columns: 5fr 1fr 2fr;
    }
    .copyright {
        margin-left: 0;
    }

}

/* Tablet */
@media (min-width: 750px) and (max-width: 1022px) {

    /* Turn off Desktop Header */
    .desktop-header {
        display: none;
    }

    /* Tablet Header */

    .tablet-header {
        display: grid;
        grid-template-columns: 3fr 1fr 6fr;
    }
    .logo-text {
        font-size: 2rem;
        padding: 1.5rem 0 1rem 2rem;
    }
    .header.ul {
        margin-top: 1.5rem;
    }
    .social-div {;
        width: 21%;
    }
    .social-a {
        margin-left: 0.4rem;
        width: 14%;
    }
    .ss-button-div {
        background-color: #9dc20b;
        border-radius: 8%;
        width: 15%;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ss-button {
        color: white;
        font-size: 1rem;
        font-family: "Roboto-Mono-Regular", sans-serif;
        font-weight: 500;
    }


    /* Tablet Sign-up Section */
    .sign-up {
        height: 42rem;
    }
    .sign-up-box {
        background-color: inherit;
        border: none;
        padding: 4rem 0;
        margin-left: 13%;
        text-shadow: 1px 1px 2px black;
    }
    .sign-up-box h2 {
        font-size: 4rem;
    }
    .sign-up-box h3 {
        font-size: 3rem;
    }


    /* Tablet Features Section */

    .features {
        height: 42rem;
        gap: 2%;
    }
    .feature-image-container {
        width: 47%;
        height: 90%;
        padding: 1rem;
    }
    .feature-image-container img {
        height: 55%;
        max-width: 90%
    }
    .feature-image-text {
        text-align: left;
        width: 80%;
        align-self: flex-start;
        margin-left: 1.5rem;
    }
    .feature-image-text h2 {
        font-weight: 800;
    }


    /* Tablet Filters Section */

    .filters {
        height: 28rem;
    }
    .filters-section-text {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .filters-section-text h2{
        font-size: 2.6rem;
        letter-spacing: 0.1rem;
    }
    .filters-section-text p{
        margin-top: 0.75rem;
        font-size: 1.2rem;
    }
    .filters-image-section {
        margin-top: 0;
        height: 50%;
        width: 99%;
    }


    /* Tablet Footer */

    .top-footer {
        padding: 1.5rem;
    }
    .top-footer p {
        font-size: 2.3rem;
    }
    .bottom-footer {
        grid-template-columns: 5fr 4fr 1.5fr;
    }

}

/* Low-Res Laptop */
@media (min-width: 1023px) and (max-width: 1439px) {

    /* Low-Res Header */

    .desktop-header {
        grid-template-columns: 2fr 6fr 7fr;
    }
    .header.ul {
        margin-top: 1.8rem;
        justify-content: flex-end;
        gap: 5%;
    }
    .social-div {;
        width: 19.8%;
    }
    .social-a {
        margin-left: 0.4rem;
        width: 12%;
    }


    /* Low-Res Features Section */

    .feature-image-container {
        height: 70%;
    }


    /* Low-Res Filters Section */
    .filters {
        height: 38rem;
    }
    .filters-image-section {
        height: 50%;
    }
}