
/* Universal */

html {
    background-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding-inline-start: 0;
}

@font-face {
    font-family: "Damion";
    src:  url('../fonts/Damion-Regular.ttf') format('truetype');
}


/* Header */

header {
    background-color: white;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 2fr 9fr 3.5fr;
    height: 5.25rem;
    border-bottom: #9b9b9b solid 0.1rem;
}
.logo-text {
    font-size: 1rem;
    font-weight: 500;
    padding: 2rem 0 1rem 2rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    color: #4a4a4a;
}
.header.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7.5%;
}
.header.ul li {
    display: contents;
}
.header-a {
    color: #4a4a4a;
    font-size: 1rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none;
}
.social-div {
    display: flex;
    justify-content: center;
    width: 23%;
}
.social-a {
    margin-left: 0.75rem;
    width: 16%;
    height: auto;
    overflow: hidden;
}
.social-a img {
    max-width: 100%;
    height: auto;
    display: block;
}



/* Main */

/* --Sign-Up Section-- */

.sign-up {
    height: 43.5rem;
    width: auto;
    background-image: url("../images/banner-landingpage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    align-content: center;
    color: white;
}
.sign-up-box {
    background-color: #9dc20b;
    border: #979797 solid 1px;
    border-radius: 1%;
    width: 36rem;
    height: 22rem;
    margin-left: 11.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 2rem 0;
}
.sign-up-box h2 {
    font-size: 3rem;
    font-family: "Rubik-Regular", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.4;
}
.sign-up-box h3 {
    font-size: 2.25rem;
    font-weight: 300;
    font-family: "Damion", cursive;
}
.email-us {
    text-align: center;
    width: 70%;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: "Roboto-Mono-Regular", sans-serif;
    line-height: 1.4;
}
.join-box {
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #4a4a4a;
    width: 72%;
    height: 4.3rem;
    border-radius: 2.5%;
    border: #979797 solid 1px;
    margin-top: 1.25rem;
}
.join-box a {
    color: white;
    font-size: 1.25rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    font-weight: 300;
    line-height: 1.4;
}


/* --Features Section-- */

.features {
    background-color: #f3f3f3;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.feature-image-container {
    background-color: white;
    height: 42.5rem;
    width: 42%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.feature-image-container img {
    margin-top: 2rem;
    max-width: 80%;
    height: auto;
    display: block;
}
.feature-image-text {
    width: 90%;
    text-align: center;
    margin-top: 2rem;
}
.feature-image-text h2 {
    color: #4a4a4a;
    font-size: 2.2rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    letter-spacing: -0.05rem;
    line-height: 1.4;
}
.feature-image-text p {
    margin-top: 0.25rem;
    color: #4a4a4a;
    font-size: 1rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    font-weight: 100;
    line-height: 1.2;
}



/* --Filters Section-- */

.filters {
    background-color: #4A4A4A;
    height: 43rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.filters-section-text h2{
    text-align: center;
    font-size: 2.2rem;
    font-family: "Roboto-Mono-Regular", sans-serif;
    letter-spacing: -0.05rem;
    line-height: 1;
}
.filters-section-text p{
    text-align: center;
    margin-top: 0.2rem;
    font-size: 1rem;
    font-family: "Roboto-Mono-Light", sans-serif;
    line-height: 1;
}
.filters-image-section {
    margin-top: 5rem;
    display: flex;
    width: 98%;
    height: 65%;
}
.filters-image-container {
    width: 25%;
    overflow: hidden;
}

.filters-image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}



/* Footer */

footer {
    display: grid;
    grid-auto-rows: 7.7fr 2.3fr;
    height: 16rem;
}
.top-footer {
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
}
.top-footer p {
    color: #4A4A4A;
    font-size: 1.85rem;
    font-family: Palatino;
    font-style: italic;
    line-height: 1.1;
}
.bottom-footer {
    background-color: #9b9b9b;
    color: white;
    display: grid;
    grid-template-columns: 3fr 6fr 0.55fr;
    align-items: center;
    padding: 1rem;
}
.bottom-footer p{
    font-size: 0.85rem;
}
.copyright {
    margin-left: 2rem;
}